{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% bootstrap_css %}
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <title>Brenda Muthoni - Software Developer </title>
</head>
<body>
  <header>
    <div class="landing-text">
      <h1>Brenda Muthoni</h1>
      <h6>Web Developer and UI | UX Designer </h6>
    </div>
  </header>

  <section>
    <div class="about-heading">
      <h1>About</h1>
      <h6>Myself</h6>
    </div>
    
    <a class="nav-link" href="{% static 'files/resume.pdf' %}"><p>View My Resume</p></a>
  </section>

  <section>
    <div class="about-heading">
      <h1>Skills</h1>
      <h6>What i am good at</h6>
    </div>
    <div class="language-icons">
      <div  class="devicon-html5-plain  col-xs-15"><span>HTML</span></div>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-django-plain-wordmark colored"></i>
      <i class="devicon-html5-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-css3-plain colored"></i>
    </div>
  </section>
    
  <section>
    <div class="section-heading">
      <h1>Services</h1>
      <h6>What I can do for you</h6>
    </div>
  </section>

  <section>
    <div class="section-heading">
      <h1>Portfolio</h1>
      <h6>View some of my recent work</h6>
    </div>
    <div>
      {% for project in projects %}
        <div class="card" style="width: 18rem;">
          <a href='{{ project.project_link}}'><img class="card-img-top" src="{{ project.project_image.url }}" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <section>
    <div class="section-heading">
      <h1>Work Experience</h1>
      <h6>Past and Current Jobs</h6>
    </div>
  </section>

  <section>
    <div class="section-heading">
      <h1>Contact</h1>
      <h6>Let's work together</h6>
    </div>
  </section>

  {% bootstrap_javascript jquery='full' %}
</body>
</html>