{% extends 'mainpage/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

<section class="about" id="about">
  <div class="container">
    <div class="profile-img" data-aos="fade-right" data-aos-delay="300">
      <img src="{% static 'img/profile1.jpg'%}" alt="">
    </div>
    <div class="about-details" data-aos="fade-left" data-aos-delat="600">
      <div class="about-heading">
        <h1>About</h1>
        <h6>Myself</h6>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <div class="social-media">
        <ul class="nav-list">
          <li>
            <a href="https://www.instagram.com/bree_muthoni/" class="icom-link" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/bree_muthoni" class="icom-link" target="_blank">
              <i class="fab fa-twitter-square"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/Brenda-M" class="icom-link" target="_blank">
              <i class="fab fa-github-square"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/brenda-muthoni-25945511b/" class="icom-link" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="skills" id="skills">
  <div class="container">
    <div class="section-heading">
      <h1>Skills</h1>
      <h6>What i am good at</h6>
    </div>
    <div class="language-icons" data-aos="fade-up" data-aos-delay="300">
      <div class="devicon-reactjs-plain colored "> <i class="devicon-react-original colored"></i><span>React</span></div>
      <div class="devicon-django-plain-wordmark colored c"><span>Django</span></div>
      <div class="devicon-html5-plain colored"><span>HTML5</span></div>
      <div class="devicon-javascript-plain colored"><span>Javascript</span></div>
      <div class="devicon-python-plain colored"><span>python</span></div>
      <div class="devicon-css3-plain colored"><span>CSS3</span></div>

    </div>
  </div>
</section>

<section class="services" id="services">
  <div class="container">
    <div class="section-heading">
      <h1>Services</h1>
      <h6>What I can do for you</h6>
    </div>
    <div class="my-services">
      <div class="skill" data-aos="fade-in" data-aos-delay="300">
        <div id="designImage">
          <div class="icon-container">
            <i class="fas fa-layer-group"></i>
          </div>
          <h2>Web Design</h2>
        </div>

        <div id="designDescription">
          <h1>Web Design</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          </p>
        </div>
      </div>

      <div class="skill" data-aos="fade-in" data-aos-delay="600">
        <div id="developmentImage">
          <div class="icon-container">
            <i class="fas fa-code"></i>
          </div>
          <h2>Web Development</h2>
        </div>
        <div id="developmentDescription">
          <h1>Web Development</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          </p>
        </div>
      </div>

      <div class="skill" data-aos="fade-in" data-aos-delay="900">
        <div id="productImage">
          <div class="icon-container">
            <i class="fas fa-chart-bar"></i>
          </div>
          <h2>Product Strategy</h2>
        </div>
        <div id="productDescripton">
          <h1>Product Strategy</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="portfolio" id="portfolio">
  <div class="container">
    <div class="section-heading">
      <h1>Portfolio</h1>
      <h6>View some of my recent work</h6>
    </div>
    <div>
      <div class="portfolio-item">
        {% for project in projects %}
        <div class="card portfolio-card"data-aos="zoom-in" >
          <img class="card-img-top portfolio-img" src="{{ project.project_image.url }}" alt="{{ project.titel }}">
          <div class="card-body">
            <h1 class="card-title portfolio-title">{{ project.title }}</h1>
            <p class="card-text portfolio-description">{{ project.description }}.</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
          <div class="card-footer">
            <a href="{{ project.github_link }}">Source Code</a>
            <a href="{{project.project_link }}" style="float:right;">Live Site</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


<section class="contact" id="contact">
  <div class="container">
    <div class="section-heading">
      <h1>Contact</h1>
      <h6>Let's work together</h6>
    </div>
    <form action="" method="POST" data-aos="fade-up" data-aos-delay="300">
      {% csrf_token %}
      {% bootstrap_form form layout='inline' %}
      <input type="submit" value="submit">
    </form>
</section>

{% endblock %}